
*
{
   margin: 0;
   padding: 0;
}   
body {
   background: #000;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   font-size: 14px;
   color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.swiper-container {
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   overflow: hidden;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
    transition: transform 0.5s ease; /* Add smooth transition */
 }
 
.swiper-slide-active {
    transform: scale(1.1); 
 }
 
 .swiper-slide-active::before {
    opacity: 0.8;
 }
 

img
{
   width: 100%;
   -webkit-box-reflect: below 1px linear-gradient(transparent,transparent, #0005);
   border-radius: 10px;
}
.id
{
   color: #fff;
   font-size: 20px;
}





 


